@using Piipan.QueryTool.Client.Components
@using Piipan.QueryTool.Client.Models
@model BasePageModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/uswds-init.min.js" asp-append-version="true"></script>
</head>
@{
    var pageName = ViewData["SelectedPage"]?.ToString() ?? Context.Request.Path.ToString().Split('/').Last().ToLower();
}
<body>
    <div id="inert-area">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    <div class="usa-overlay"></div>
        <div class="sticky-footer">
            <div class="sticky-footer__fill">
                <partial name="_UsaBanner" />
                <partial name="_CUI" />
                <header class="usa-header usa-header--extended">
                    <div class="usa-navbar">
                        <div class="usa-logo" id="extended-logo">
                            <a href="/" class="agency">
                                <img class="usa-banner__header-flag" src="~/images/usda-symbol-color.svg" alt="United States Department of Agriculture">
                                <div>
                                    <div class="agency__text--top">
                                        National Accuracy Clearinghouse
                                    </div>
                                    <div class="agency__text--bottom">
                                        U.S. Department of Agriculture
                                    </div>
                                </div>
                            </a>
                        </div>
                        <button class="usa-menu-btn">Menu</button>
                        <div class="usa-nav" style="">
                            <ul class="usa-nav__primary usa-accordion flex-justify-end">
                                @if (!String.IsNullOrEmpty(Model.WebAppDataServiceProvider.Email))
                                {
                                    <li class="usa-nav__primary-item">
                                        <button class="usa-accordion__button" aria-expanded="false" aria-label="User Actions Menu - Click to Expand" aria-controls="nav-user">
                                            <span class="usa-button--unstyled">@Model.WebAppDataServiceProvider.Email</span>
                                        </button>
                                        <ul id="nav-user" class="usa-nav__submenu" hidden>
                                            <li class="usa-nav__submenu-item">
                                                <a href="/.auth/logout?post_logout_redirect_uri=@(Model.WebAppDataServiceProvider.BaseUrl)/SignedOut">Sign out</a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                     <nav aria-label="Primary navigation" class="usa-nav-primary">
                        <div class="usa-nav__inner">
                            <button class="usa-nav__close">
                                <img src="/images/close.svg" role="img" alt="Close">
                            </button>

                            <ul class="usa-nav__primary usa-accordion">
                                <li class="usa-nav__primary-item">
                                @{
                                    var linkTitle = "Search for SNAP Participants";
                                }
                                <a href="/" class="usa-nav__link @(pageName == "" || pageName == "index" ? "usa-current" : "")">
                                        <span data-title="@linkTitle">@linkTitle</span>
                                    </a>
                                </li>
                                <li class="usa-nav__primary-item">
                                    @{
                                        linkTitle = "Find a Match Record";
                                    }
                                    <a href="/match" class="usa-nav__link @(pageName == "match" ? "usa-current" : "")">
                                        <span data-title="@linkTitle">@linkTitle</span>
                                    </a>
                                </li>
                                @if (Model.WebAppDataServiceProvider.IsNationalOffice)
                                {
                                    <li class="usa-nav__primary-item">
                                        @{
                                            linkTitle = "List of NAC Matches";
                                        }
                                        <a href="/list" class="usa-nav__link @(pageName == "list" ? "usa-current" : "")">
                                            <span data-title="@linkTitle">@linkTitle</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>                   
                </header>
                <div class="container margin-bottom-6 border-top-1px border-base-light">
                    <main id="main-content" tabindex=-1>
                        @RenderBody()
                    </main>
                </div>
            </div>
            <partial name="_CUI" />
        </div>
    </div>
    @Html.AntiForgeryToken()
    <script src="~/js/uswds.min.js" asp-append-version="true"></script>
</body>
</html>
